.ItemDetails {
    /* width: 375px; */
    width:100%;
    height: 75px;
    border-bottom: solid 1px #520177;
    display: flex;
    align-items: stretch;
    /* justify-content: space-between; */
    padding: 10px;
    box-sizing: border-box;
}

.ItemDetails:hover {
    /* background-color: gray; */
    cursor: pointer;
    /* border-bottom: solid 1px #d100ed; */
    color: #520177;
    font-weight: bold;
}

.ItemDetails img {
    width: 50px;
    /* height: 50px; */
    flex-grow: 1;
    border-radius: 5px;
}

.ItemName {
    flex-grow: 8;
    text-align: left;
    margin-left: 10px;
}

.ItemPrice {
    font-weight: bold;
    flex-grow: 1;
}

.Line {
    width: 375px;
    border: none;
    height: 1px;
    background-color: #333; /* Modern Browsers */
}

.Purchased {
    background-color: lightgreen;
}